<%- include("../components/head", { title: "Signup" }) %>
<body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center px-4">
        <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
            <h1 class="text-2xl font-bold text-center mb-6">
                Signup
            </h1>
            <form action="/signup" method="POST">
                <input type="text" name="username" placeholder="Username" required
                    class="w-full mb-4 px-4 py-2 border rounded">
                <input type="email" name="email" placeholder="Email" required
                    class="w-full mb-4 px-4 py-2 border rounded">
                <input type="password" name="password" placeholder="Password" required
                    class="w-full mb-4 px-4 py-2 border rounded">
                <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">
                    Signup
                </button>
            </form>
            <p class="text-center mt-4">
                Already have account?
                <a href="/login" class="text-blue-600">Login</a>
            </p>
        </div>
    </div>
</body>

</html>