<h1>Add New Employee</h1>

<form action="/employee" method="POST">
    <div>
        <label>Username:</label>
        <input type="text" name="username" required>
    </div>

    <br>
    <div>
        <label>Email:</label>
        <input type="email" name="email" required>
    </div>
    <br>
    <div>
        <label>Department:</label>
        <input type="text" name="department" required>
    </div>

    <br>

    <div>
        <label>Position:</label>
        <input type="text" name="position" required>
    </div>

    <br>

    <div>
        <label>Salary:</label>
        <input type="number" name="salary" required>
    </div>

    <br>

    <button type="submit">Create Employee</button>

</form>